
@import "mixins";
@import "colors";

.footer {
  background-color: $c-dark;
  color: #fff;
  text-align: center;
}
    .footer_links {
        list-style-type: none;
        margin: 0 0 2rem;
    }
    .footer_link {
        display: inline;
        margin: 20px 15px;

        a {
            @include links($c-dark, #fff);
        }
    }
